* {
  text-align: center;
  background: black;
  color: white;
}

.text-logo {
  margin-top: -80px; 
}

.start-btn {
  border-radius: 500px;
  height: 40px;
  width: 150px;
  background: rgb(17, 173, 17);
  color: black;
  font-size: 18px;
}

.start-btn:hover {
  color: white;
  transform: scale(1.05);
  box-shadow: 1px 1px 50px rgb(255, 0, 191), 2px 2px 100px rgb(56, 154, 247);
  cursor: pointer;
}

div {
  border: 1px solid white;
}

.counter-container {
  border: 5px solid red;
}

h3 {
  opacity: .3;
}